@use './_breakpoints.scss';


* {
    box-sizing: border-box;
    margin: 0 auto;



    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: rgb(252, 238, 221);
        position: absolute;

        .template {
            margin: 0;
            display: grid;
            grid-auto-rows: minmax(min-content, max-content);
            grid-template-areas:
                ' f '
                ' c ';

            width: 85vw;
            height: fit-content;
            max-width: 300px;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            bottom: 3%;


            @include breakpoints.breakpoint(720px) {
                grid-template-columns: 50% 50%;
                grid-template-areas:
                    'f c';

                max-width: none;
                width: 50%;


            }


            .foto {
                grid-area: f;
                height: 100%;


                .imgmb {
                    width: 100%;
                    height: 100%;


                    @include breakpoints.breakpoint(720px) {
                        display: none;
                    }
                }

                .imgdktp {
                    display: none;


                    @include breakpoints.breakpoint(720px) {
                        display: block;
                        height: 100%;
                        width: 100%;

                    }
                }
            }

            .content {
                grid-area: c;

                background-color: white;
                width: 100%;
                padding-bottom: 15px;

                @include breakpoints.breakpoint(720px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }

                section {
                    margin-top: 15px;

                    @include breakpoints.breakpoint(720px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        height: 70%;
                        max-width: 100%;
                    }

                    h4 {
                        margin: 0% 0% 5% 5%;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 100;
                        font-size: 0.75rem;
                        color: rgb(164, 164, 164);
                        letter-spacing: 1px;
                        @include breakpoints.breakpoint(720px) {
                            font-weight: 100;
                            font-size: 1rem;
                        }
                    }

                    h1 {
                        margin: 0% 5% 5% 5%;
                        font-weight: bold;
                        font-family: "Fraunces", serif;
                        font-size: 1.5rem;
                        line-height: 32px;

                        @include breakpoints.breakpoint(720px) {
                            font-size: 2rem;
                        }
                        
                    }

                    p {
                        display: inline-block;
                        margin: 0% 5% 10% 5%;
                        font-size: 0.70rem;
                        color: rgb(164, 164, 164);
                        font-family: "Montserrat", sans-serif;
                        letter-spacing: 1px;
                        font-weight: 700;
                        
                        @include breakpoints.breakpoint(720px) {
                            font-weight: 500;
                            font-size: 1rem;
                        }
                    }
                }

                div {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 5%;

                    p {
                        font-family: "Fraunces", serif;
                        font-size: 1.5rem;
                        display: inline-block;
                        color: #0c814b;
                        margin: 0%;

                        @include breakpoints.breakpoint(720px) {
                            font-size: 2rem;
                        }
                        
                    }

                    p:nth-of-type(2) {
                        font-family: "Montserrat", sans-serif;
                        font-size: .70rem;
                        font-weight: 500;
                        text-decoration: line-through;
                        color: rgb(164, 164, 164);

                        @include breakpoints.breakpoint(720px) {
                            font-size: 1.2rem;
                        }
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    width: 90%;
                    background-color: #0c814b;
                    border-style: none;
                    border-radius: 8px;
                    padding: 3%;
                    font-family: "Montserrat", sans-serif;
                    color: white;

                    @include breakpoints.breakpoint(720px) {
                        width: 90%;
                        padding: 5%;
                    }

                    svg {
                        margin: 0;
                    }

                    p {
                        display: inline;
                        font-size: 50%;
                        margin: 0px;
                        @include breakpoints.breakpoint(720px) {
                            font-size: 1rem;
                        }
                    }
                }

                button:hover {
                    background-color: rgb(37, 64, 26);
                }
            }
        .attribution {
            width: 80%;
        }
    }
    }
}